<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32495204435-enjm3kbe5o6vs3gt35594vcjmhjs1i1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32495204435-enjm3kbe5o6vs3gt35594vcjmhjs1i1t</string>
	<key>API_KEY</key>
	<string>AIzaSyCVGZ-liX3luTXjw9DvRupKXM3NT_AOMY0</string>
	<key>GCM_SENDER_ID</key>
	<string>32495204435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jimmy.FiraChat-Jimmy</string>
	<key>PROJECT_ID</key>
	<string>firechat-80c9c</string>
	<key>STORAGE_BUCKET</key>
	<string>firechat-80c9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32495204435:ios:ec7f9c2c388203f5d12ea6</string>
</dict>
</plist>